Openfow-rag-ingest/Documents_to_Intelligence.json
{"flowContents":{"identifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f","instanceIdentifier":"5aeba3a1-0197-1000-0000-00007b39c92c","name":"Documents_to_Intelligence","comments":"","position":{"x":-2240.0,"y":-1640.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e8a23f31-212c-33f1-0000-00002a83c713","instanceIdentifier":"c7e76336-34a1-3370-a575-c6b2f052c4d5","name":"PutSnowflakeInternalStageFile","comments":"","position":{"x":-3360.0,"y":-1552.0},"type":"com.snowflake.openflow.runtime.processors.snowflake.PutSnowflakeInternalStageFile","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-processors-nar","version":"2025.5.27.18"},"properties":{"Compression Enabled":"false","Table":null,"Schema":"#{SNOWFLAKE_SCHEMA}","Snowflake Connection Service":"52c4d9ad-4f30-3741-820a-797bbba74f64","Database":"#{SNOWFLAKE_DATABASE}","File Prefix":null,"Stage":"#{SNOWFLAKE_STAGE}","File Name":"${filename}","Internal Stage Type":"named"},"propertyDescriptors":{"Compression Enabled":{"name":"Compression Enabled","displayName":"Compression Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowflake Connection Service":{"name":"Snowflake Connection Service","displayName":"Snowflake Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Prefix":{"name":"File Prefix","displayName":"File Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stage":{"name":"Stage","displayName":"Stage","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Name":{"name":"File Name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Internal Stage Type":{"name":"Internal Stage Type","displayName":"Internal Stage Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"3a7f103a-6b8b-3cc3-0000-00002a83c713","instanceIdentifier":"37fe8438-51a1-3e51-81cc-74330fc6b972","name":"PerformSnowflakeCortexOCR","comments":"","position":{"x":-3360.0,"y":-1336.0},"type":"com.snowflake.openflow.runtime.processors.snowflake.PerformSnowflakeCortexOCR","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-processors-nar","version":"2025.5.27.18"},"properties":{"Max Attribute Size":"10 MB","OCR Mode":"OCR","Schema":"#{SNOWFLAKE_SCHEMA}","Snowflake Connection Service":"52c4d9ad-4f30-3741-820a-797bbba74f64","Database":"#{SNOWFLAKE_DATABASE}","Stage":"#{SNOWFLAKE_STAGE}","Filename":"${filename}","Output Strategy":"FlowFile","Results Attribute":null},"propertyDescriptors":{"Max Attribute Size":{"name":"Max Attribute Size","displayName":"Max Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OCR Mode":{"name":"OCR Mode","displayName":"OCR Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowflake Connection Service":{"name":"Snowflake Connection Service","displayName":"Snowflake Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stage":{"name":"Stage","displayName":"Stage","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Attribute":{"name":"Results Attribute","displayName":"Results Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["failure","empty"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"72e009ce-c4c8-3378-0000-00002a83c713","instanceIdentifier":"096c0a7e-2e8d-3f38-beee-2fe07d9128d4","name":"UpdateChunksTable","comments":"","position":{"x":-3360.0,"y":-712.0},"type":"com.snowflake.openflow.runtime.processors.database.ExecuteSQLStatement","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-database-processors-nar","version":"2025.5.27.18"},"properties":{"Max Batch Size":"100","Connection Pooling Service":"52c4d9ad-4f30-3741-820a-797bbba74f64","Max Content Reference Size":"100 KB","SQL":"INSERT INTO #{SNOWFLAKE_DATABASE}.#{SNOWFLAKE_SCHEMA}.#{SNOWFLAKE_TABLE} \n select $1, PARSE_JSON($2), $3 from values ('${uuid}', '${metadata}', '${flowfile_content}');"},"propertyDescriptors":{"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Pooling Service":{"name":"Connection Pooling Service","displayName":"Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Content Reference Size":{"name":"Max Content Reference Size","displayName":"Max Content Reference Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"13f71259-7d97-3c1f-0000-00002a83c713","instanceIdentifier":"1457a675-6d4f-3688-8e3b-400d8fcc616b","name":"FetchS3Object","comments":"","position":{"x":-3360.0,"y":-1768.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2025.5.27.18"},"properties":{"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":"e9eca921-269b-3759-0000-00002a83c713","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","encryption-service":null},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"ff1eb258-6b72-3004-0000-00002a83c713","instanceIdentifier":"5b7c7fdf-01d3-3c07-a738-897bd0a1a81d","name":"ListS3","comments":"","position":{"x":-3360.0,"y":-2008.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2025.5.27.18"},"properties":{"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":"e9eca921-269b-3759-0000-00002a83c713","Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{S3_BUCKET}","Communications Timeout":"30 secs","Region":"us-east-1","et-state-cache":null,"use-versions":"false"},"propertyDescriptors":{"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"a8cd1c68-1872-3ff8-0000-00002a83c713","instanceIdentifier":"0f42c4ed-e6a5-37e2-a6b2-079496cf7502","name":"Map Metadata, User Ids and Group Ids","comments":"","position":{"x":-3360.0,"y":-936.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2025.5.27.18"},"properties":{"metadata":"{\"action\": \"${source.change.type}\", \"id\": \"${source.identifier}\", \"system\": \"${source.system}\", \"webUrl\": \"${source.url}\", \"lastModifiedDateTime\": \"${source.change.time}\", \"fullName\": \"${source.fullname}\"}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"metadata":{"name":"metadata","displayName":"metadata","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"76699e09-8e74-3839-0000-00002a83c713","instanceIdentifier":"68300a01-609c-3b90-8026-d8ce8e548102","name":"ChunkText","comments":"","position":{"x":-3360.0,"y":-1144.0},"type":"com.snowflake.openflow.runtime.processors.chunking.ChunkText","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-chunking-nar","version":"2025.5.27.18"},"properties":{"Chunk Delimiters":"\\n\\n,\\n,., ,","Chunk Overlap":"500","Language":"English","Max Chunk Length":"1500","Trim Whitespace":"true","Sentence Similarity Threshold":"0.6","Chunking Strategy":"RECURSIVE_DELIMITERS"},"propertyDescriptors":{"Chunk Delimiters":{"name":"Chunk Delimiters","displayName":"Chunk Delimiters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Chunk Length":{"name":"Max Chunk Length","displayName":"Max Chunk Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Whitespace":{"name":"Trim Whitespace","displayName":"Trim Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Similarity Threshold":{"name":"Sentence Similarity Threshold","displayName":"Sentence Similarity Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"25 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b1b40603-08bf-3fca-0000-00002a83c713","instanceIdentifier":"0ac73061-8d59-3ea6-bf47-27fcc034422b","name":"","source":{"id":"ff1eb258-6b72-3004-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"ListS3","comments":"","instanceIdentifier":"5b7c7fdf-01d3-3c07-a738-897bd0a1a81d"},"destination":{"id":"13f71259-7d97-3c1f-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"FetchS3Object","comments":"","instanceIdentifier":"1457a675-6d4f-3688-8e3b-400d8fcc616b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"ba229d3c-c2f1-363c-0000-00002a83c713","instanceIdentifier":"ab532bd6-2b14-3caa-a995-0a9a9f5c60a7","name":"","source":{"id":"3a7f103a-6b8b-3cc3-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"PerformSnowflakeCortexOCR","comments":"","instanceIdentifier":"37fe8438-51a1-3e51-81cc-74330fc6b972"},"destination":{"id":"76699e09-8e74-3839-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"ChunkText","comments":"","instanceIdentifier":"68300a01-609c-3b90-8026-d8ce8e548102"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"23bc35e9-9702-3cc9-0000-00002a83c713","instanceIdentifier":"0b639d0c-f273-3498-b78c-083567971ff6","name":"","source":{"id":"e8a23f31-212c-33f1-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"PutSnowflakeInternalStageFile","comments":"","instanceIdentifier":"c7e76336-34a1-3370-a575-c6b2f052c4d5"},"destination":{"id":"3a7f103a-6b8b-3cc3-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"PerformSnowflakeCortexOCR","comments":"","instanceIdentifier":"37fe8438-51a1-3e51-81cc-74330fc6b972"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"c7cad871-dde6-39c1-0000-00002a83c713","instanceIdentifier":"c527ac87-1ff2-397b-995d-6deea864217a","name":"","source":{"id":"13f71259-7d97-3c1f-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"FetchS3Object","comments":"","instanceIdentifier":"1457a675-6d4f-3688-8e3b-400d8fcc616b"},"destination":{"id":"e8a23f31-212c-33f1-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"PutSnowflakeInternalStageFile","comments":"","instanceIdentifier":"c7e76336-34a1-3370-a575-c6b2f052c4d5"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"179e0feb-2b74-3e5b-0000-00002a83c713","instanceIdentifier":"6e1d43ec-a2a0-37ca-a87c-0225c02e1c6f","name":"","source":{"id":"a8cd1c68-1872-3ff8-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"Map Metadata, User Ids and Group Ids","comments":"","instanceIdentifier":"0f42c4ed-e6a5-37e2-a6b2-079496cf7502"},"destination":{"id":"72e009ce-c4c8-3378-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"UpdateChunksTable","comments":"","instanceIdentifier":"096c0a7e-2e8d-3f38-beee-2fe07d9128d4"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"a9e8c946-55ab-3dba-0000-00002a83c713","instanceIdentifier":"67ff26cc-80a7-3199-a04c-b77d02630fbd","name":"","source":{"id":"76699e09-8e74-3839-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"ChunkText","comments":"","instanceIdentifier":"68300a01-609c-3b90-8026-d8ce8e548102"},"destination":{"id":"a8cd1c68-1872-3ff8-0000-00002a83c713","type":"PROCESSOR","groupId":"c0e96add-4311-3c2e-8954-dd08664d9c2f","name":"Map Metadata, User Ids and Group Ids","comments":"","instanceIdentifier":"0f42c4ed-e6a5-37e2-a6b2-079496cf7502"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"}],"labels":[{"identifier":"c926da0d-1f1d-3f5e-0000-00002a83c713","instanceIdentifier":"9999586e-6b2f-3068-b508-5ef4fce1b69c","position":{"x":-3560.0,"y":-728.0},"label":"Load chunks table\n","zIndex":1,"width":584.0,"height":160.0,"style":{"background-color":"#ffff00","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"78e9dfd8-700f-33b5-0000-00002a83c713","instanceIdentifier":"8f69e06d-e99e-3e63-a699-b565b1486265","position":{"x":-3560.0,"y":-2032.0},"label":"Ingest data","zIndex":1,"width":584.0,"height":408.0,"style":{"background-color":"#000080","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"b910493d-7e58-3ef2-0000-00002a83c713","instanceIdentifier":"80810e85-025b-3a14-a354-3b4777ccd2c9","position":{"x":-3560.0,"y":-1568.0},"label":"Extract and Parse documents","zIndex":1,"width":584.0,"height":776.0,"style":{"background-color":"#800000","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"}],"funnels":[],"controllerServices":[{"identifier":"52c4d9ad-4f30-3741-820a-797bbba74f64","instanceIdentifier":"b2e2eec0-8353-34f1-90b6-fbe1072a222d","name":"OpenflowLLMDemoSnowflakeConnectionService","comments":"","type":"com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-connection-service-nar","version":"2025.5.27.18"},"properties":{"Account":"#{SNOWFLAKE_ACCOUNT}","Warehouse":"#{SNOWFLAKE_WAREHOUSE}","User":"#{SNOWFLAKE_USER}","Maximum Connections":"10","Maximum Lifetime":"30 minutes","Schema":null,"Private Key Service":"8e828e6a-123a-325f-ac07-5669c03ca1ec","Connection Strategy":"STANDARD","Connection Timeout":"30 seconds","Role":"#{SNOWFLAKE_ROLE}","Idle Timeout":"10 minutes","Authentication Strategy":"KEY_PAIR","Database Name":null},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Warehouse":{"name":"Warehouse","displayName":"Warehouse","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connections":{"name":"Maximum Connections","displayName":"Maximum Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Lifetime":{"name":"Maximum Lifetime","displayName":"Maximum Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Idle Timeout":{"name":"Idle Timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2025.5.23.14"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"e9eca921-269b-3759-0000-00002a83c713","instanceIdentifier":"8cbca0f0-9135-3185-bb22-6cb1f69f6c5f","name":"OpenFlowLLMDemoAWSCredentials","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2025.5.27.18"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2025.5.27.18"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2025.5.27.18"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"},{"identifier":"8e828e6a-123a-325f-ac07-5669c03ca1ec","instanceIdentifier":"6d700e43-77f6-3772-950c-e4c023af32d6","name":"OpenflowLLMDemoKeyService","comments":"","type":"org.apache.nifi.key.service.StandardPrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-key-service-nar","version":"2025.5.27.18"},"properties":{"key-file":null},"propertyDescriptors":{"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-file":{"name":"key-file","displayName":"Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"key":{"name":"key","displayName":"Key","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.key.service.api.PrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2025.5.23.14"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c0e96add-4311-3c2e-8954-dd08664d9c2f"}],"parameterContextName":"OpenflowDemoParameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"OpenflowDemoParameters":{"name":"OpenflowDemoParameters","parameters":[{"name":"SNOWFLAKE_SCHEMA","description":"","sensitive":false,"provided":false,"value":"LLM_DATA"},{"name":"S3_BUCKET","description":"","sensitive":false,"provided":false,"value":"squadron-guitar-repair-manuals"},{"name":"SNOWFLAKE_USER","description":"","sensitive":false,"provided":false,"value":"OPENFLOW_USER"},{"name":"SNOWFLAKE_WAREHOUSE","description":"","sensitive":false,"provided":false,"value":"OPENFLOW_WH"},{"name":"SNOWFLAKE_ROLE","description":"","sensitive":false,"provided":false,"value":"OPENFLOW_ROLE"},{"name":"SNOWFLAKE_STAGE","description":"","sensitive":false,"provided":false,"value":"RAW"},{"name":"SNOWFLAKE_TABLE","description":"","sensitive":false,"provided":false,"value":"DOCS_CHUNKS"},{"name":"SNOWFLAKE_DATABASE","description":"","sensitive":false,"provided":false,"value":"OPENFLOW_LLM_DEMO"},{"name":"SNOWFLAKE_ACCOUNT","description":"","sensitive":false,"provided":false,"value":"EPCKZEL-SQUADRON_US_EAST_1"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}